
body {
  font-family: Arial, sans-serif;
  
}

form {
  color: white;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 15px;
  background-color: rgba(123, 121, 121, 0.762);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-box input {
  width: 95%;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  margin-bottom: 10px;
  width: 50%;
  border-radius: 15px;
  padding: 5px;
}

input[type="submit"] {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: indianred;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(177, 80, 80);
}
