/*
filename: homepage.css
author: Group 03 
created: 14/1/2024
last modified: 14/1/2024
description: CSS file for homepage.php
*/

nav .button {
    display: none;
}

nav .profileButton {
    display: none;
}

nav .button.active {
    display: inline;
}

nav .profileButton.active {
    display: inline;
}

.main_content {
    margin-top: 3%;
}

.main_content h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

.main_content h1 span {
    color: indianred;
}

.main_content h2 span {
    color: indianred;
}

.main_content .button {
    display: inline-block;
    margin-top: 30px;
    background-color: indianred;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}

.sale h1 {
    font-size: 70px;
    color: rgb(113, 151, 38);
}

.sale span {
    font-size: 70px;
    margin-bottom: 15px;
    color: indianred;
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.sale {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 17%;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: rgb(52, 51, 51);
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}