h1 {
  margin-left: 5px;
  margin-bottom: 30px;
  text-align: center;
  padding: auto;
  flex-wrap: wrap;
  color: indianred;
}

.window {
  border: 5px solid indianred;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  margin-top: 10px;
  padding: 0 10px;
  float: left;
  width: 33%;
}

.cashless {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 15px;
  color: white;
  border-color: #ffffff;

}

.responsive2 {
  margin-top: 10%;
  margin-bottom: 15%;
  padding: 0 10px;
  float: left;
  width: 33%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.section-title {
  width: 200px;
  min-height: 25px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.9s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}


.button2:hover span {
  padding-right: 2px;
}

.button2:hover {
  background-color: #0056b3;
  /* Change color on hover if needed */
}

/* Style the button */
.button2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: indianred;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  width: 100px;
  margin-top: 5%;
  position: relative;
  cursor: pointer;
}

.coin-image {
  max-width: 30px;
  /* Adjust the width as needed */
  max-height: 30px;
  /* Adjust the height as needed */
  margin-right: 60%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content option:hover {
  background-color: #f1f1f1;
}
